body {
  font-size: 15px;
  font-family: segeo-UI;
}
h1,h3, h4, h5, h6 {
  font-family: segeo-UI;
  font-weight:500;
  color:#64b541;
}

.btn {
  border-radius: 3em;
}
.container-nav {
  max-width: 1100px;
   padding-right: 15px;
  padding-left: 22px;
  margin-right: auto;
  margin-left: auto;
}
.container {
	max-width:900px;
}
.container-alternate {
  background: #f0f0f0;
   border-top:thick solid #286f07;
  border-bottom: 1px solid #286f07;
  
}
.navbar {
  background: #65b542;
  padding: 0em 0;
  border-bottom: thick solid #286f07;
  
}
.navbar .navbar-brand {
  color: #000;
  font-family: georgia, serif;
  font-weight: bold;
}
/*.navbar ul.nav li a {
  color: #111;
  padding-left: 0;
  padding-right: 0;
  margin: 0 1em;
  color:#FFF;
}
.navbar ul.nav li a:hover {
  color: #286f07;
}
.navbar ul.nav li button {
  margin: 0.7em 0 0 1em;
}*/
.jumbotron {
  background: #f8f8f8;
  color: #333;
  padding: 4.5em 0 3.5em;
  text-align: center;
  margin-bottom: 0;
}
.jumbotron h1 {
  font-family: bebas;
  font-size: 4em;
}
.jumbotron h2 {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.jumbotron .btn {
  font-size: 1.2em;
  padding: 0.3em 2.5em 0.5em;
}
.jumbotron .btn .glyphicon {
  margin-left: 0.2em;
  position: relative;
  top: 3px;
}
.subhead {
  font-size: 2em;
  text-align: center;
  margin: 2em 0 0.5em;
  font-family:bebas;
}
.benefits {
  margin-bottom: 3em;
}
.benefit {
  margin: 1em 0;
  text-align: center;
  display:block;
}

.benefit .benefit-ball {
  background: #f0f0f0;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  line-height: 1em;
  padding: 3em;
}
.benefit .benefit-ball .glyphicon {
  font-size: 3em;
  position: relative;
  top: -3px;
  right: 1px;
}
.benefit .benefit-ball .glyphicon:hover{
	color:#64b541;
}
.benefit h3 {
  font-size: 1.5em;
}
#tour {
  margin: 1em 0 4em;
}
#tour .carousel-inner img {
  height: 500px;
  width: 100%;
}
.faqs {
  margin-bottom: 3em;
}
.faqs p {
  line-height: 1.5em;
  margin: 1.2em 0;
}
.about p {
  line-height: 1.5em;
  margin: 1em 0;
}
.about p:last-child {
  margin-bottom: 4em;
}
footer {
  background: #111;
  color: #fff;
  padding: 1.5em 0 0.8em;
}
@media screen and (max-width: 768px) {
  .navbar ul.nav li {
    text-align: center;
  }
  .navbar ul.nav li button {
    margin: 1em 0;
  }
  .jumbotron {
    font-size: 14px;
    padding: 6em 0 4em;
  }
  .benefit {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .jumbotron {
    font-size: 12px;
  }
  footer .pull-right {
    display: none;
  }
}
